workflows/hourly-x-poster.json
{
  "name": "Hourly X Poster (Simple)",
  "active": false,
  "versionId": "4",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "hoursInterval": 1}]
        }
      },
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const messages = [\n  'Building smarter homes with open-source hardware. #SmartHome #IoT',\n  'Presence detection that respects your privacy. No cloud required. #HomeAutomation',\n  'Hardware + software designed to work together. #HardwareOS #Tech',\n  'Automating the mundane so you can focus on what matters. #SmartHome',\n  'Open source, locally controlled, privacy-first smart home. #HomeAssistant #IoT',\n  'From ESP32 sensors to full home automation. #Makers #DIY',\n  'Your data stays in your home. #Privacy #LocalControl',\n  'Crafting the future of home tech. #OpticWorks #Innovation'\n];\n\nconst now = new Date();\nconst idx = (now.getHours() + Math.floor((now - new Date(now.getFullYear(), 0, 0)) / 86400000)) % messages.length;\n\nreturn [{ json: { text: messages[idx] } }];"
      },
      "name": "Pick Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5680",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.text }) }}",
        "options": {}
      },
      "name": "Post Tweet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    }
  ],
  "connections": {
    "Every Hour": {"main": [[{"node": "Pick Message", "type": "main", "index": 0}]]},
    "Pick Message": {"main": [[{"node": "Post Tweet", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
